
@{
    ViewBag.Title = "Xem phim - Nicflex Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using WebsiteMovie_DAN.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<CTTapPhim>
 ##### nội dung ##### 
<div class="container clear_navar" style="padding-top: 60px;">
    <div>
        <div class="col-xl-10" style="height: auto; margin: auto">
            <div class="">
                <div class="embed-responsive embed-responsive-16by9">
                    <fieldset>
                        <legend></legend>
                        @foreach (var item in ViewData["p"] as List<CTTapPhim>)
                        {
                            //<iframe class="embed-responsive-item" src="@item.Link" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <iframe width="560" height="315" src="@item.Link?rel=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        }
                    </fieldset>

                </div>
            </div>
            <div class="metax1">
                <div id="bar_info_fix" class="bar_info02" style="margin: 0;">
                    <p style="color: #ffffff; font-size: 14px; padding: 5px 0; cursor: pointer; background-color: #318CCA; text-align: center">Lưu ý: đây là dòng để trang trí ^^</p>
                </div>
                <div class="bar_info">
                    <ul class="list_bar">
                        <li>
                            <a class="bar_ani4u" style="cursor: pointer" onclick="togglecomments('an_hien_baoloi');">
                                <i class="fas fa-exclamation-circle material-icons"></i>
                                <br>
                                Báo lỗi phim
                            </a>
                        </li>
                        <li>
                            <a id="switch" style="cursor: pointer" href="#">
                                <i class="fas fa-backward material-icons"></i>
                                <br>
                                Tập Trước
                            </a>
                        </li>
                        <li>
                            <a class="bar_ani4u" style="cursor: pointer" onclick="window.location.reload()">
                                <i class="fas fa-sync-alt material-icons"></i>
                                <br>
                                Tải lại trang
                            </a>
                        </li>
                        <li>
                            <a style="cursor: pointer" id="switch" href="#">
                                <i class="fas fa-forward material-icons"></i>
                                <br>
                                Tập Sau
                            </a>
                        </li>

                        <a class="bar_ani4u" style="cursor: pointer"></a>
                    </ul>
                    <div id="aniclass" style="background: #000;"></div>
                </div>

            </div>
            <div style="background-color: #ffffff; border-radius: 10px">
                <div style="margin-bottom: 10px; margin: 10px">
                    <fieldset>
                        <legend>

                            @foreach (var item in Model)
                            {
                                <a href="~/ChiTietPhim/ChiTietPhim/@item.ID" style="font-size: 18px; font-weight: 700; color: #000000; font-weight: bold;">@item.DSPhimBo.TenPhim Tập @item.TapPhim</a>
                            }
                        </legend>


                    </fieldset>
                </div>
                <div id="episodelist" style="max-height: 200px; overflow: auto; overflow-x: hidden; margin: 10px; padding-bottom: 10px">
                    <div>
                        @Html.PagedListPager(Model, page => Url.Action("XemPhim", new { Tap = page }))
                    </div>

                    <link href="~/Content/tap.css" rel="stylesheet" />
@foreach (var item in ViewData["p"] as List<CTTapPhim>)
    {
        <a href="~/XemPhim/XemPhim/@item.TapPhim" title="Tập @item.TapPhim" class="ep">Tập @item.TapPhim</a>
    }
<a href="#" title="Tập 1" class="ep">Tập 1</a>
    <a href="#" title="Tập 2" class="ep">Tập 2</a>
    <a href="~/XemPhim/XemPhim" title="Tập 3" class="ep">Tập 3</a>
</div>
            </div>
            <script>
                // Add active class to the current button (highlight it)
                var header = document.getElementsByClassName("myDIV");
                var btns = header.getElementsByClassName("btn");
                for (var i = 0; i < btns.length; i++) {
                    btns[i].addEventListener("click", function () {
                        var current = document.getElementsByClassName("active");
                        current[0].className = current[0].className.replace(" active", "");
                        this.className += " active";
                    });
                }
            </script>

            <div id="cmt-1" style="background-color: #fff; border-radius: 10px; margin-top: 15px;">
                <div class="fb-comments " data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="5"></div>
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0"></script>
            </div>
        </div>

    </div>
</div>

<!--<div class="container">
    <h2 class="text-center">@ViewData["TenPhim"]</h2>-->

    <!-- Thông tin chung -->
    <!--<div class="row">
        <div class="col-md-8">
            <div class="video-container">
                @if (ViewData["p"] != null && ((List<WebsiteMovie_DAN.Models.CTTapPhim>)ViewData["p"]).Any())
                {
                    var tapHienTai = ((List<WebsiteMovie_DAN.Models.CTTapPhim>)ViewData["p"]).FirstOrDefault();
                    <iframe width="100%" height="400" src="@tapHienTai.Link" frameborder="0" allowfullscreen></iframe>
                }
                else
                {
                    <p class="alert alert-warning">Không tìm thấy tập phim.</p>
                }
            </div>
        </div>

        <div class="col-md-4">
            <h4>Thông tin phim</h4>
            <ul class="list-group">
                <li class="list-group-item"><strong>Thể loại:</strong> @string.Join(", ", ((List<WebsiteMovie_DAN.Models.TheLoai>)ViewData["TheLoai"]).Select(t => t.TenTheLoai))</li>
                <li class="list-group-item"><strong>Năm phát hành:</strong> @string.Join(", ", ((List<WebsiteMovie_DAN.Models.Nam>)ViewData["Nam"]).Select(n => n.TenNam))</li>
                <li class="list-group-item"><strong>Quốc gia:</strong> @string.Join(", ", ((List<WebsiteMovie_DAN.Models.QuocGia>)ViewData["QuocGia"]).Select(q => q.TenQG))</li>
            </ul>
        </div>
    </div>-->

    <!-- Danh sách tập phim -->
    <!--<h3 class="mt-4">Danh Sách Tập</h3>
    <div class="row">
        @foreach (var tap in Model)
        {
            <div class="col-md-2 mb-3">
                <a href="@Url.Action("XemPhim", new { id = tap.ID, tap = tap.TapPhim })" class="btn btn-outline-primary btn-block">
                    Tập @tap.TapPhim
                </a>
            </div>
        }
    </div>-->

    <!-- Phân trang -->
    <!--<div class="text-center">
        @Html.PagedListPager(Model, page => Url.Action("XemPhim", new { id = ViewData["IDPhim"], tap = page }))
    </div>
</div>

<style>
    .video-container {
        background: #000;
        padding: 10px;
        border-radius: 8px;
    }

    .list-group-item {
        background: #f8f9fa;
    }
</style>-->
